# Ignora algunos archivos creados por editores de texto
~*
*~

# Ignora los archivos intermedios de latex
*.aux
*.log
*.bcf
*.bbl
*.blg
*.run.xml
*.ttt
*.fff
*.synctex.gz
*.out

# Ingnora la carpeta guide
/guide

# Ignota los archivos .svg
*.svg
